<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>FORM</h1>
    <form method = "POST" action="/new">
        <input type = "text" placeholder = "...author's name" name = "authorName">
        <input type = "text" placeholder = "...author's message" name = "messageContent">
        <button type = "submit">Submit</button>
    </form>
</body>
</html>